@model UserModel
@{
    string strTitle = "Пароль изменен";
    ViewBag.Title = strTitle;
}
<h2>Пароль изменен, новый пароль: @Model.Password</h2>
<a asp-area="Admin" asp-controller="UsersShow" asp-action="UsersShow"><h2>Вернутся к списку пользователей</h2></a>
