@{
    string strTitle = "Ошибка!";
    ViewBag.Title = strTitle;
}
<h2>У вас превышен лимит броней, отмените брони, либо верните книги обратно в библиотеку, чтобы снова получить возможность бронировать</h2>
