@{
    string strTitle = "Ошибка!";
    ViewBag.Title = strTitle;
}
<h2>Автор с таким именем уже существует</h2>
<a class="glo" asp-area="Moderator" asp-controller="Authors" asp-action="AddAuthor" asp-route-id="">Вернуться</a>
