@{
    string strTitle = "Неверный код";
    ViewBag.Title = strTitle;
}
<h2>Код неверный, попробуйте снова</h2>
<a class="glo" asp-area="Moderator" asp-controller="Booking" asp-action="Show">Показать брони</a>
