@model GenresListViewModel
@{
    string strTitle = "Поиск по жанру";
    ViewBag.Title = strTitle;
}
<ul>
@foreach (var item in Model.Genres)
{
    <li><a class="glo" asp-controller="BooksShow" asp-action="SearchByGenre" asp-route-id="@item.Id">@item.Name</a></li>
}
</ul>