@{
    string strTitle = "Ошибка!";
    ViewBag.Title = strTitle;
}
<h2>Жанр с таким именем уже существует</h2>
<a class="glo" asp-area="Moderator" asp-controller="Genres" asp-action="AddGenre" asp-route-id="">Вернуться</a>
